<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
    </tr>
    <tr *ngFor="let person of persons">
           <td>{{person.firstName}}</td>
                     <td>{{person.lastName}}</td>
             <td>{{person.emailId}}</td>

    </tr>
</table>

<form [formGroup]="person"(ngSubmit)="save()">

First Name:<input type="text" formControlName="firstName"/><br>
Last Name:<input type="text" formControlName="lastName"/><br>
Email Id:<input type="text" formControlName="emailId"/><br>
<input type="submit" value="submit"/>
</form>