<!-- <app-test1></app-test1> -->
<h1>Hey Babe let's Do it</h1>
<h2>{{ message }}</h2>






<!-- <ng-Template></ng-Template> -->

<!-- <div *ngIf="fruit" class="name"{{fruit.name}}></div> -->
<!-- {{ title }}
<div> 
    <img src="{{image}}">
</div>
<p>hey babe let's do it</p>


<div>
    <button (click)="goBack()">
        Go  to Back
    </button>
</div> -->

<!-- <div *ngIf="course">

<h2>{{course.name| uppercase }} Details </h2>
<div><span><b> ID=</b></span>{{course.id}}</div>
<label><b>Name:</b>
    <input [(ngModel)]="course.name"  placeholder="name"/>
</label>
<div>
    <button (click)="goBack()">Go Back </button>
</div> -->
