<!-- -- <h1>hey babe angular app3</h1>
<h1> {{title}} </h1>

<div>
    {{ title }}
</div>
<p>
Country:{{ country }} <br>
Heigth :{{ heigth }} <br>
Weigth :{{ weigth }} <br>
Age:{{ age }} 

</p>

<p>
Var1:{{ var1 }}<br>
Var2:{{ var2 }}<br>
Var3:{{ var3 }}<br>
</p>
 

 <div>
    {{ var4 }}<br>
    {{ var5 }}<br>
    {{ var6 }}
    {{ var61 }}
 </div>

 {{ test1() }}
 {{ test2() }}
 {{ test3() }}
 {{ test4() }}
 {{ test5() }}
 {{ test6() }}
 {{ test7() }}


 <span>
    {{ 31 }}<br>
    {{ 32 }}<br>
    {{ 33 }}
 </span> -->


 <!-- <app-test1></app-test1>
 <app-test2></app-test2>
 <app-test2></app-test2>
 <app-test2></app-test2>
 <app-test3></app-test3>
 <app-test4></app-test4>
 <app-test4></app-test4>
 <app-test4></app-test4> -->
 <!-- <app-test5></app-test5> -->
<!-- <app-test6></app-test6> -->
<!-- <app-test7></app-test7> -->
<!-- <app-test8></app-test8> -->
<!-- <app-test9></app-test9> -->
<!-- <app-test10></app-test10> -->
<!-- <app-test11></app-test11> -->
<!-- <app-test15></app-test15> -->
<!-- <app-test14></app-test14> -->
<app-test16></app-test16>
<!-- <app-test13></app-test13> -->