
{{ loginMessage}}
<form [formGroup]="login" (ngSubmit)="save()" *ngIf="status==false">
    <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" formControlName="username" class="form-control" id="username">
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">
              Please fill out this field.
            </div>
    </div>
    
    <div class="form-group">
        <label for="password">Password </label>
        <input type="text" formControlName="password" class="form-control" id="password"/>
      <div  *ngIf="password ?.touched && password ?.invalid" class="alert alert-danger">
      Fillout the useranem 
     </div>
     </div>
    
    <div class="form-group">
        <input type="submit"
               value="submit"
               class="btn btn-primary"/>
    </div>