
<html>
    <head>
      <title>Travelers</title>
        <!-- <link rel="stylesheet" href="p2.css"> -->
        <script src="p3.js"></script>
    </head>
    <body>
       <h1><strong><b>Rohan Tour and Trawels</b></strong></h1>
       <hr>
      <form action="rohu20.blogspot.com">
        
         <table border="3">   
       <tr>
       <td> <label> <b>First Name:</b></label></td>
       <td><input type="text" name="Firstname" placeholder="Please Enter your First Name"><br></td>
       </tr>
       <tr>
        <td><label> <b>Last Name:</b></label></td>
        <td><input type="text" name="Lastname" placeholder="Please Enter your Last Name"><br></td>
       </tr>
       <tr> 
        <td><label><b>Gender:</b></label></td>
            <td> <input type="radio" name="name" ><label>Male</label><br></td>
             <td><input type="radio" name="name" ><label>Female</label></td>
            </tr>
            <tr>
            <td> <label><b>DOB:</b></label></td>
            <td> <input type="date" name="Dob" placeholder="Please Enter DOB"><br></td>
             </tr>
            <tr>
            <td><label><b>Email:</b></label></td>
             <td><input type="email" name="Email" placeholder="Please Enter Email"><br></td>
             </tr>
             <td><label><b>Password:</b></label></td>
             <td><input type="password" name="Password" placeholder="Please Enter Your Password"><br></td>
            
            <tr>
              <td><label><strong>Vihicle type</strong> </label></td>
              <td><select name="Vihicle">
              <option>Bike</option>
              <option>Car Normal</option>
              <option>BMW Car</option>
              <option>Frari Car</option>
            </select></td></tr>
             <tr>
              <td><label><b>Address</b></label></td>
               <td><textarea name="address" rows="3" cols="22" placeholder="Please Enter your Address"></textarea><br></td>
             </tr>
             <tr>
              <td>
              <button onclick="test()">Submit</button><br>
              </td>
             <!--<input type="reset" value="Reset All Form">-->
            <td><button type="reset">Reset</button><br></td>
             </tr>
            </table> 
      </form>
    </body>
</html>