
{{ message}}
<form [formGroup]="changePassword" (ngSubmit)="save()" *ngIf="status==false">
    <div class="form-group">
        <label for="oldPassword">Enter Old PassWord </label>
        <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword">
        <div *ngIf="oldPassword?.touched && oldPassword?.invalid" class="alert alert-danger">
              Please fill out this field.
            </div>
    </div>
    
    <div class="form-group">
        <label for="newPassword">Enter New PassWord  </label>
        <input type="password" formControlName="newPassword" class="form-control" id="newPassword"/>
      <div  *ngIf="newPassword ?.touched && newPassword ?.invalid" class="alert alert-danger">
     New PassWord is Required 
     </div>
     </div>
    
    <div class="form-group">
        <input type="submit"
               value="submit"
               class="btn btn-primary"/>
    </div>